$def-font:Cambria, serif;

body {
    background: #EFE7E5;
}
.products-form{
    text-align: left;
    padding-top: 20px;
    text-align: left;   
    table{
        margin-top: 10px;
        width: 260px;
        height: 180px;
        border: 1px;
        margin-left: 35px;
        float: left;
        border-style: solid; 
    }
    .delete_id{
        margin-left: 130px;
    }
}
.insert-form{
    text-align: left;
    padding-top: 20px;
    text-align: left;   
    ul{
        margin-left: 50px;
        list-style-type: none;
    }
    input {
        margin-left: 50px;
    }
    p{
        font-size: 8pt;
        margin-left: 105px;
        margin-top: 2px;
    }
}
html{
    h1{
        margin-left: 40pt;
        margin-bottom: 5pt;
    }
    h2{
        text-decoration: underline;
        font-size: 30pt;
        text-align: center;
        padding-bottom: 10pt;
    }
    h3{

        font-size: 20pt;
        text-align: center;
        margin-bottom: 30pt;
    }
}
nav{
    a{
        text-decoration: none;
        font-family: $def-font;
        font-size: 20px;
        color: #596368;
        margin-left: 30pt;
    }
    a:hover{
        font-weight: bold;
        font-family: $def-font;
        font-size: 20px;
        color:black;
    }
}
#link{
    text-decoration: none;
    font-family: $def-font;
    font-size: 25px;
    color: black;;
    margin-left: 23%;
}
#link:hover{
    font-weight: bold;
    font-family: $def-font;
    font-size: 25px;
    color:black;
}
